.avlink-link {
  height: auto;
  text-decoration: none;
  cursor: pointer;

  // display: flex;

  color: rgba(0, 0, 0, 0.8);
  font-family: "Geomanist";

  &:hover {
    color: rgba(0, 0, 0, 1);
  }

  &.primary {
    color: var(--color-link);
    
    &:hover {
      color: var(--color-link-hover);
    }
  }

  &.disabled {
    color: rgba(0, 0, 0, 0.3);
  }
}