.av-view-menubar-default {
  width: 100%;
  height: 58px;

  background-color: var(--color-menubar-background);
  // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  // border-top: 1px solid rgba(0, 0, 0, 0.1);

  .enclosing-menubar {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". . .";

    .enclosure-brand {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height:40px;
        vertical-align:bottom; 
      }
    }

    .enclosure-left {
      padding-left: 16px;
      
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }

    .enclosure-right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      & > div {
        margin-left: 12px;
      }
    }
  }
}
