@charset "UTF-8";
@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-extrabold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-thin.woff") format("woff");
  font-style: normal;
  font-weight: 200;
}


@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-extraboldItalic.woff") format("woff");
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-boldItalic.woff") format("woff");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-semiboldItalic.woff") format("woff");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-mediumItalic.woff") format("woff");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-regularItalic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-lightItalic.woff") format("woff");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-thinItalic.woff") format("woff");
  font-style: italic;
  font-weight: 200;
}
body,
html {
  font-family: "Gilroy", sans-serif;
}
*,
*:before,
*:after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
