[data-theme="light"] {
  --color-primary: #03969e;
  --color-primary-light-1: #22c3cb;

  --color-menubar-background: #ffffff;
  --color-root-base-background: #fff;
  --color-panel-base-background: #ffffff;
  --color-panel-footer-background: #fafafa;

  --color-modal-title-background: #f6f6f6;
  --color-modal-base-background: #fff;
  --color-modal-action-background: #f6f6f6;

  --color-button-primary-background-default: #03969e;
  --color-button-primary-background-hover: #22c3cb;

  --color-link: #03969e;
  --color-link-hover: #22c3cb;

  --color-loading-background: rgba(3, 150, 158, 0.2 );
  --color-loading-prominent: #03969e;

  --color-textbox-background: #ffffff;
  --color-textbox-text: #282828;
  --color-textbox-border: rgba(0, 0, 0, 0.1);
  --color-textbox-border-hover: #22c3cb;

  --color-text-em-first: rgba(0, 0, 0, 1);
  --color-text-em-hi: rgba(0, 0, 0, 0.87);
  --color-text-em-med: rgba(0, 0, 0, 0.6);
  --color-text-em-disable: rgba(0, 0, 0, 0.38);
}
